<details>
<summary>Review metadata</summary>

- Reviewed commit: {{#commitLink}}{{>link}}{{/commitLink}}
- PR: {{#prLink}}{{>link}}{{/prLink}}
- kyosei: {{kyoseiVersion}}
- kyosei-action: {{#kyoseiActionLink}}{{>link}}{{/kyoseiActionLink}}
- Claude Code: {{#claudeCodeLink}}{{>link}}{{/claudeCodeLink}}
- Model: {{model}}
- Execution: {{execution}}{{#runUrl}} ([run]({{&runUrl}})){{/runUrl}}

</details>
